@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background-image: linear-gradient(to bottom,#AD07EF,#FC02D8,#FE0A6A, #FE8500, #FEC601, #FF6A10);
    background-attachment: fixed;
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #5b2051aa;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #FE8500;
    text-shadow: 1px 1px 5px rgba(65, 23, 58, 0.43);
    text-align: center;
}

h2{
    color: #AD07EF;
    text-align: center;
}

p{
    text-align: justify;
    text-indent: 30px;
}

#kin{
color: rgb(8, 126, 228);
text-align: center;
}

#lin{
    color: blue;
    text-align: center;
}